<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
    <listeners>
        <listener class-name="Helpers.AnnotationTransformer"/>
        <listener class-name="Helpers.StatusTestsListener"/>
    </listeners>
    <test name="sqlW3Test">
        <classes>
            <class name="Tests.MainFlowTest"/>

        </classes>
    </test>

</suite>